.form {
  position: relative;
}

.form .bi-search {
  position: absolute;
  font-size: 1.2rem;
  top: 5px;
  left: 15px;
  color: #9ca3af;
}

.form-control {
  text-indent: 33px;
}

@media screen and (min-width: 992px) {
  .img-fluid {
    width: 100% !important;
    height: 450px !important;
    object-fit: cover;
    object-position: center;
  }
}
