@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700;900&family=Viga&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

code {
  font-family: "Kanit", sans-serif;
}
